.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    height:100vh;
}

.right{
    text-align:center;
    padding:30px;
    background-color: rgb(128, 113, 130,0.6);
}



.left{
    background-color: #f1f1f1;
    
}

li{
    list-style: none;
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.links{
    text-decoration: none;
    color:#000;
}
