.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    height:100vh;
}

.right{
    background-color: rgb(128, 113, 130,0.9);
}

.footer{
    background-color: #ffffff;
}

.change{
    background-color:rgba(247, 177, 171,0.9);
}